html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

body {
    max-width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

header {
    margin: 50px 150px;
}

.login-link {
    font-weight: bold;
}

main {
    flex: 1;
    height: 100%;
    display: flex;
    margin-top: 150px;
    align-items: center;
    flex-direction: column;
    gap: 37px;
}

#login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {
    height: 51px;
    width: 379px;
    border: none;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.14);
}

button {
    height: 36px;
    border: none;
    background-color: #1d6154;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 25px;
    width: 179px;
    align-self: center;
}

form a {
    text-decoration: underline;
    color: #1d6154;
    align-self: center;
}

.hidden {
    display: none !important;
}
